body{
  margin: 0;
  box-sizing: border-box;
}

/* ｽﾏﾎﾒﾃﾞｨｱ */
@media(max-width:740px){

  /* header上部 */

  header{
    background-image: url(img/aibnb.jpg);
    background-size: cover;
    height: 240px;
    width: 100%;
    box-shadow: 0px -90px 40px rgba(0, 0, 0, 0.4) inset;
    
  }
  .header-logo{
    padding: 25px 0 0 25px;
  }
  .header-logo i{
    color: white;
    font-size: 37px;
    position: relative;
  }
  .header-logo i::after{
    border-bottom:1.5px solid white;
    border-right:1.5px solid white ;
    width: 7px;
    height: 7px;
    content: "";
    position: absolute;
    top:12px;
    left: 40px;
    transform: rotate(46deg);

  }
  .header-logo i:hover{
    cursor: pointer;
  }
  .logo:hover{
    cursor: pointer;
  }

  .header-head{
    text-align: center;
    display: flex;
    color: white;
    
  }
  .header-head h1{
    font-size: 33px;
    line-height: 34px;
    letter-spacing: -0.8;
    display: inline-block;
    text-align: left;
    margin: 90px 20px 0 20px;
  
  }

  /* header上部   */
  /* header下部 */
  section{
    color: #484848;
    padding: 10px 25px 0;
  }
  .hosting h2{
    font-size: 18px;
    padding: 20px 0 10px 0 ;
    margin: 0;
  }
  .location{
    display: block;
    width: 98%;
    height: 25px;
    margin-bottom: 7px;
    border-radius: 2px;
    border: 1px solid #dce0e0;
    padding: 5px;
    padding-left: 7px;
    color: #484848;
  }

  .menu{
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 7px;
    border-radius: 2px;
    border: 1px solid #dce0e0;
    padding: 5px;
    color: #484848;
    -webkit-appearance: none;
  }

  .menu-people{
    position: relative;
  }

  .menu-people::after{
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 28%;
    content: "";
    width: 10px;
    height: 10px;
    text-align: center;
    border-top: 2px solid #666666;
    border-right: 2px solid #666666;
    border-radius: 2px;
    transform: rotate(136deg);
  }

  .hosting .btn{
    font-size:17px;
    font-weight: 800;
    color: white;
    background-color: #FF5A5F;
    border-radius: 5px;
    height: 50px;
    border-color: transparent;
    margin-top: 22px;
  }
  .hosting .btn:hover{
    cursor: pointer;
  }
  .hosting .location{
    font-weight: bold;
  }
  /* header下部 */
  /* なぜAirbnbでホスト？ */
  .border{
    border-bottom:1.6px solid #484848;
    opacity: 0.7;
    width: 12%;
    height: 10px;
    padding-top:65px ;
    margin: 0 5%;
  }
  /* なぜAirbnbでホスト？ */
  /* 3ステップでホスティング */
  .title{
    font-size: 40px;
    line-height: 40px;
    color: #484848;
    margin: 0;
  }
  .step h2{
    margin-top: 0;
  }
  .check{
    margin: 30px 0 10px 0;
  }



  .host-link{
    text-decoration: none;
    color: #008489;
  }
  .host-link:hover{
    text-decoration:underline;
  }

  .host-img{
    width: 100%;
    margin-top:90px ;
    vertical-align: top;
  }
  .quotation{
    color:#FDB32B;
    font-size: 50px;
    margin: 0;
    height: 25px;
    }
    .host-hoshou{
      font-size: 17px;
    }
    .dennis{
      font-size: 15px;
      opacity: 0.8;
    }
    .host-btn{
      background-color: white;
      border: 2px solid #484848;
      border-radius: 3px;
      padding: 7px 30px;
      font-size: 16px;
      font-weight: 800;
      color: #484848;
    }

    .host-btn:hover{
      cursor: pointer;
    }
    /* 3ステップでホスティング */


  /* 万一の時も安心です */
    .relief p{
      padding-top: 40px;
    }
    .host-list{
      list-style: none;
      margin-top: 30px;
    }
    .host-list li{
      padding: 10px 0;
      position: relative;
    }
    .host-list li::before{
      border-right:1.1px solid #008489;
      border-bottom: 1.1px solid #008489;
      height: 18px;
      width: 5px;
      content: "";
      position: absolute;
      left: -32px;
      top: 8px;
      transform: rotate(45deg);
    }
    
    .relief-img{
      height: 90vw;
      width:90vw;
      object-fit: cover;
    }
    .border-new{
      border:1px solid #484848;
      opacity: 0.7;
      width: 12%;
      height: 1px;
      margin-top: 80px;

    }
    /* 万一の時も安心です */

    /* simpleな決済です */
    .simple h2{
      padding-top:20px ;
    }
    .simple-img{
      width: 100%;
      height: 100%;
      margin-top: 100px;
      
    }
    /* simpleな決済です */
    
    /* 夢を共有する仲間が世界中に */
    .dream h2{
      font-weight: normal;
      font-size: 37px;
      margin: 0;
      padding: 30px 0 7px 0;
    }
    .dream p{
      margin: 0;
    }
    .dream .last-p{
      padding-bottom: 30px;
    }
    /* 夢を共有する仲間が世界中に */

    /* Airbnbについて */
    .airbnb h2{
      margin: 0;
      padding-top: 30px;
    }
    /* Airbnbについて */

    /* よくある質問 */
    .question h1{
      padding-bottom: 39px;
    }
    .question a{
      border-bottom:1px solid #EBEBEB;
      display: block;
      padding: 25px 0;
    }
    /* よくある質問 */

    /* ホスティングの詳細はこちら */

    .detail{
      margin:35px 0 80px 0;
    }
    .container{
      border:1px solid #EBEBEB ;
      border-radius: 3px;
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      
    }
    .cildcontainer{
      flex-direction: column;
      
      
    }
    
    .container img{
      width: 80px;
      height: 80px;
      object-fit: cover;
      vertical-align: top;
    }
    .container h2{
      font-size: 13px;
      margin: 0;
      padding-left: 15px;
    }
    .container p{
      font-size: 13px;
      padding-left: 15px;
    }
    /* ホスティングの詳細はこちら */
    .money{
      background-image:url(img/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg) ;
      background-size: cover;
      height: 375px;
      background-position:center ;
    }
    .money-container h1{
      color: white;
      font-size: 40px;
      margin:40px 0 30px 0;
      line-height: 40px;
      
    }
    .money-container input{
      border-radius: 4px;
      border: 1px solid white;
      padding: 12px 28px;
      font-weight: 700;
      font-size: 15px;
      color: #484848;
    }
    .money-container input:hover{
      cursor: pointer;
    }
    footer{
      margin-top: 60px;
    }
    .footer-container{
      display: flex;
      align-items: center;
      margin:20px 5% ;
    }
    .footer-container i{
      margin-right:10px ;
      vertical-align: bottom;
      font-size: 24px;
      color: #484848;
      opacity: 0.8;
    }

    .footer-contents a{
      text-decoration: none;
      font-size: 13px;
      color: #484848;
      font-weight: 700;
      opacity: 0.7;
      vertical-align: sub;
      line-height: 0.2;
    }
    
    .footer-contents p{
      padding: 0;
      font-size: 13px;
      color: #484848;
      font-weight: 700;
      opacity: 0.7;
      letter-spacing: -1px;
      margin: 0;
    }
    .footer-icon,.footer-top{
      display: none;
    }

    .header-nav,.select-box-desk,.header-head input,.header-head h2{
      display: none;
    }

      

  }




